pandas==2.2.3
kaggle==1.7.4.2
requests==2.32.3
SQLAlchemy==2.0.40
psycopg2-binary==2.9.10
python-dotenv==1.1.0
streamlit==1.45.0
pytest==8.3.5
pytest-cov==6.1.1
pytest-mock==3.14.0
pytest-postgresql==7.0.1
flake8==7.2.0
pycodestyle==2.13.0
pyflakes==3.3.2
mccabe==0.7.0
iniconfig==2.1.0
sqlfluff==3.3.1
